* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #8f9193;
  font-family: "Courier New";
}

.header {
  position: relative;
  width: 100%;
  height: 10%;
  background-color: grey;
  text-align: center;
}

p {
  position: absolute;
  top: 35%;
  left: 46.5%;
  font-size: 20px;
}

.main {
  position: absolute;
  border-radius: 3px;
  width: 355px;
  left: 40%;
  top: 15%;
  background-color: #2C2C36;
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* padding-right: 1px; */
}

.button {
  position: relative;
  background-color: #1D212A;
  color: white;
  border: none;
  width: 100%;
  border-radius: 3px;
  padding: 20px 30px;
  font-size: 1.5vw;
}

.button:hover {background-color: #6c6d70}

.screen {
  padding-bottom: 20px;
  /* padding-right: 1px; */
}

#current {
  position: relative;
  background-color: #1D212A;
  color: white;
  margin-left: 8px;
  width: 310px;
  border: none;
  border-radius: 3px;
  /* left: 4px; */
  height: 80px;
  text-align: right;
  font-size: 3vw;
  padding: 20px;
}

#equal {
  width:211%;
  background-color: #68A45A;
  z-index: 1;
}

#equal:hover {background-color: #71cc5b}

#del {
  background-color: #D25400;
}

#del:hover {background-color: #fc6602}

#clc {
  background-color: #B33727;
}

#clc:hover {background-color: #ef462f}
